{%  extends 'islandersdogdaycare/base.html' %}

{% load static %}

{%  block title %}Home{% endblock %}

{% block content %}

     <!-- Why Choose Us -->
   <section id="why-choose-us" class="p-4">
    <div class="container">
        <h2>Why Choose Islanders Doggie Day Care?</h2>
            <h3>Exceptional Care, Exceptional Peace of Mind</h3>
                <p>Welcome to Islanders Doggie Day Care, where your pet's comfort, safety, and happiness are our top priorities!
                In an industry flooded with options, here's why we stand head and tails above the rest. 
                We understand that your dog is more than just a pet; they're a part of your family.
                A bored dog is an unhappy dog.
                At Islanders Doggie Day Care, we offer a variety of activities designed to keep your pup engaged and happy.
                Choosing the right daycare is crucial for your pet's overall well-being.
                At Islanders Doggie Day Care, we provide not just a service but a community of care and love for your four-legged family member.
                Book now and give your furry friend the exceptional care they deserve!</p>        
    </div>
   </section>

   <!-- Dog Image -->
   <section id="dog-pic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/dog.jpg' %}" alt="Doggie Day Care" class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/pup.jpg' %}" alt="Doggie Day Care" class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/beach.jpg' %}" alt="Doggie Day Care" class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/rolling.jpg' %}" alt="Doggie Day Care" class="img-fluid">
        </div>
    </div>
    <a  class="carousel-control-prev" href="#dog-pic" role="button" data-slide="prev">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>   
   </section>
    <!-- Our Story -->
    <section id="our-story" class="p-4">
        <div class="container">
            <h2>Our Story</h2>
                <p>Welcome to Islanders Doggie Day Care, a sanctuary for your four-legged family members right here on our 
                    idyllic Atlantic Island off the coast of Ireland. 
                    Our journey started with a challenge that's all too familiar to local pet parents.
                    Our founder, Joanna, was a devoted dog mom to Freya, her charming English Springer Spaniel. 
                    Living amidst the natural splendors of the island, Joanna cherished long beach strolls and woodland hikes
                    with Freya. But balancing a busy work schedule with Freya's need for exercise and companionship became 
                    increasingly taxing. Search as she might, Joanna found no local doggie day care that met her high standards 
                    of safety, engagement, and loving care. Inspired by her own struggle, Joanna founded
                    Islanders Doggie Day Care to provide a nurturing environment for pets and peace of mind for their owners. 
                    Here, safety, happiness, and well-being are not mere words but our foundational principles.
                    Our facility boasts secure, clean, and enriching spaces designed to keep your dog engaged and elated. 
                    We offer tailored activities that stimulate your pup's body and mind.</p>
        </div>
    </section>

   <!-- Pricing -->
   <section id="pricing" class="p-4">
    <div class="container">
        <h2></h2>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>One Dog (Per Day)</td>
                    <td>20 Euro</td>
                </tr>
            </tbody>
        </table>
    </div>
   </section>


{% endblock %}