{%  extends 'islandersdogdaycare/base.html' %}

{% load static %}

{%  block title %}Reservations{% endblock %}

{% block content %}
<div class="container-reservations">
  <h1>Make a reservastion for your dog</h1>

  {% if existing_reservations %}
        <h2>You have {{ existing_reservations.count }} reservation(s).</h2>
        <a href="{% url 'reservation_list' %}" class="btn-view-reservations" >View My Reservations</a>
    {% endif %}

    <form method="post" class="reservation-form">
        {% csrf_token %}
        
        <h2>Owner Details</h2>
        {{ owner_form.as_p }}

        <h2>Date of Boarding</h2>
        {{ reservation_form.date_of_daycare.label_tag }} {{ reservation_form.date_of_daycare }}

        <h2>Dog Information</h2>
        {{ dog_form.as_p }}
    
            <input type="submit" value="Submit">
        </form>
  </div>
    {% endblock %}

    
    
    
    
    
    
