{% extends 'islandersdogdaycare/base.html' %}

{% load static %}

{% block title %}Edit Reservation{% endblock %}

{% block content %}
<div class="container-update-reservation">
    <h1>Edit Reservation</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Owner Details</h2>
        {{ owner_form.as_p }}

        <h2>Dog Information</h2>
        {{ dog_form.as_p }}

        <h2>Reservation Details</h2>
        {{ reservation_form.as_p }}
        
        <input type="submit" value="Update Reservation">
    </form>
</div>
{% endblock %}