/* BASE STYLE */

body {
    background-color: #F4F4F9;
    color: #4C212A;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

.header {
    background-color: #218380;
    color: #F4F4F9;
    font-family: 'Prompt', sans-serif;
    padding: 20px 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-size: 2.5em;
    margin-top: 5px;
    font-weight: bold;
}

.header p {
    font-size: 1.5em;
    margin-top: 5px;
}

/* Logo */
.logo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Contact Info*/
.contact-info p {
    font-size: 1.1em;
    line-height: 1.5;
}



/* Navbar */
#mainNav {
    background-color: #6F1A07;
    transition: all 0.3s ease;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #FBB13C;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease;
}



.navbar-dark .navbar-nav .nav-link:hover {
    color: #F4F4F9
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

/* Footer */

.bg-footer {
    background-color: #4C212A;
}

.text-footer a:hover {
    color: #F4F4F9
}

.social-media-icon {
    font-size: 30px;
    margin:0 5em;
    color: #FBB13C;
    transition: color 0.3s ease;
    
}

/* INDEX STYLES */

body, h1, h2, p {
    font-family: 'Roboto', sans-serif;
}

/* Why Choose Us section*/

#why-choose-us {
    background-color: #fbb13c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
}

#why-choose-us h2 {
    font-family: 'Prompt', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    color: #218380;
}

#why-choose-us h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #6f1a07;
    text-align: center;
    margin-bottom: 20px;
}

#why-choose-us p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.6;
    color: #4c212a;   
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* Dog pictures carousel */
#dog-pic {
    max-height: 80vh;
    overflow: hidden;
    position: relative;
}

#dog-pic .carousel-item {
    transition: transform ease-in-out;
}

#dog-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Our Story */

.story-section {
    background-color: #F4F4F9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.story-container {
    max-width: 1140px;
    margin: auto;
    padding: 40px;
}

.story-title {
    font-family: 'Prompt', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    color: #6F1A07;
    border-bottom: 3px solid #218380;
}

.story-content {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.6;
    color: #4C212A;
    margin-bottom: 20px;
}

/* Pricing */

#pricing {
    background-color: #218380;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
    color:#F4F4F9
}

#pricing .container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing h2 {
    font-family: 'Prompt', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
}

#pricing table {
    max-width: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

#pricing th, #pricing td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #F4F4F9;
}

#pricing thead {
    background-color: #6F1A07;
    color: #F4F4F9;
}

#pricing tbody tr:hover {
    background-color: #4C212A;
    color: #F4F4F9;
}

/* RESERVATIONS STYLE*/

.container-reservations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-reservations h1, .container-reservations h2 {
    font-family: 'Prompt', sans-serif;
    color: #6f1a07;
}

form {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #218380;
    color: #f4f4f9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

input[type="submit"]:hover {
    background-color: #fbb13c;
    transition: 0.3s ease;
}

.container-reservations a {
    color: #4c212a;
}

.container-reservations a:hover {
    color: #fbb13c;
    transition: 0.3s ease;
}

.container-reservations .btn-view-reservations {
    background-color: #218380;
    color: #f4f4f9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
}

.container-reservations .btn-view-reservations:hover {
    background-color: #fbb13c;
    color: #4C212A;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}



/* Additional Styles for Reservation Templates */

/* Reservation List Style */

.container-reservation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-reservation-list ul {
    list-style-type: none;
    padding: 0;
}

.container-reservation-list li {
    margin-bottom: 15px;
}

.container-reservation-list a {
    text-decoration: none;
    color: #218380;
}

.container-reservation-list a:hover {
    color: #fbb13c;
}

/* Reservation Detail Style */
.container-reservation-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-reservation-detail p {
    margin-bottom: 10px;
}

/* Update Reservation Style */
.container-update-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-update-reservation form {
    margin-top: 20px;
}

/* Delete Reservation Style */
.container-delete-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-delete-reservation p {
    margin-bottom: 20px;
}

.container-delete-reservation form {
    margin-top: 20px;
}


 /* TESTIMONIALS STYLE*/

 /* Messages*/
 .container-testimonials .messages .alert {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
 }

 /* Heading */
 .container-testimonials h1 {
    font-family: 'Prompt', sans-serif;
    color: #6F1A07;
 }

 .container-testimonials a {
    color: #4c212a;
}

.container-testimonials a:hover {
    color: #fbb13c;
    transition: 0.3s ease;
}

 /* Testimonial Forms */
 form[action*="testimonals"] {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F9;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 /* Testimonial Cards */
 .card {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F9;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .card-header h3 {
    font-family: 'Prompt', sans-serif;
    color: #6f1a07;
 }

 .card-body .text-muted {
    color: #6f1a07;
    font-size: 1.1em;
 }

 /* Buttons */

button.btn-primary {
    background-color: #218380;
    color: #F4F4F9;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button.btn-primary:hover {
    background-color: #FBB13C;
    transition: 0.3s ease;
}

/* Login Prompt */

.container-testimonials p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #6f1a07;
}

/* MOBILE SCREENS */

@media (max-width: 768px) {
    
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header .logo, .header .contact-info {
        margin-bottom: 15px;
    }

    .social-media-icon {
        font-size: 25px;
        margin: 0 1em;
        display: inline-block;
        width: 25%;
    }
}