/* BASE STYLE */

body {
    background-color: #F4F4F9;
    color: #4C212A;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

.header {
    background-color: #218380;
    color: #F4F4F9;
    font-family: 'Prompt', sans-serif;
}

/* Logo */
.logo img:hover {
    transform: scale(1.1)
}

/* Navbar */
#mainNav {
    background-color: #6F1A07;
    transition: all 0.3s ease;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #FBB13C;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #F4F4F9
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

/* Footer */

.bg-footer {
    background-color: #4C212A;
}

.text-footer a:hover {
    color: #F4F4F9
}

.social-media-icon {
    font-size: 30px;
    margin:0 5em;
    color: #FBB13C;
    transition: color 0.3s ease;
    
}

/* INDEX STYLES */

body, h1, h2, p {
    font-family: 'Roboto', sans-serif;
}

/* Why Choose Us section*/

#why-choose-us {
    background-color: #f3f4f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#why-choose-us h2,
#why-choose-us h3 {
    font-family: 'Prompt', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

#why-choose-us h2 {
    font-size: 2.5em;
    color: #333;
}

#why-choose-us h3{
    font-size: 1.5em;
    color: #555;
}

#why-choose-us p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* Dog pictures carousel */
#dog-pic {
    max-height: 80vh;
    overflow: hidden;
    position: relative;
}

#dog-pic .carousel-item {
    transition: transform is ease-in-out;
}

#dog-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Our Story */

