<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservations</title>
</head>
<body>
    {% if reservation_made %}
    <h1>Thank you for making a reservation for your dog.</h1>
    <a href="{% url 'reservations' %}">Return to Reservation Form</a>
    {% else %}
        <h1>Make a reservation</h1>
        <form method="post">
            {% csrf_token %}
        
            <h2>Owner Details</h2>
            {{ owner_form.as_p }}
    
            <h2>Date of Boarding</h2>
            {{ reservation_form.date_of_daycare.label_tag }} {{ reservation_form.date_of_daycare }}
    
            <h2>Dog Information</h2>
            {{ dog_form.as_p }}
    
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</body>
</html>
    
    
    
    
    
    
    
</body>
</html>