

{%  load crispy_forms_tags %}
<!-- Adding a Testimonial -->
<h1>Add a New Testimonial</h1>
{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ testimonial_form|crispy }}
    <button type="submit" name="submit_testimonial" class="btn btn-primary">Add Testimonial</button>
</form>
{% else %}
<p>You must be logged in to add a testimonial.</p>
{% endif %}

<!-- Loop through testimonials -->

{% for testimonial in testimonials %}
<div class = "card mb-4">
    <div class = "card-header">
        <h3>{{ testimonial.title}}</h3>
        <small>By {{ testimonial.author.username }} on {{ testimonial.created_on}}</small>
    </div>
    <div class = "card-body">
        <img src = "{{ testimonial.featured_image.url}}" alt = "{{ testimonial.title}}" class = "img-fluid mb-2">
        <p class = "text-muted">Exerpt: {{ testimonial.excerpt }}</p>
        <p>{{ testimonial.content }}</p>

        <!-- Comments-->
        <h5>Feel free to comment</h5>
        <ul class = "list-unstyled">
            {%  for comment in testimonial.comments.all %}
            <li class = "mb-2">
                <strong>{{ comment.user.username}} ({{ comment.created_on}})</strong> {{ comment.text }}
            </li>
            {% empty %}
            <li>No comments yet...</li>
            {% endfor %}
        </ul>

        <!-- Comment Form -->
        {% if user.is_authenticated %}
        <form method = "post" action = "{% url 'testimonials' %}">
            {% csrf_token %}
            <input type = "hidden" name = "testimonial_id" value = "{{ testimonial.id }}">
            {{ comment_form|crispy }}
            <button type="submit" class="btn btn-primary">Add Comment</button>
          </form>
          {% else %}
          <p>You must be logged in to post a comment.</p>
          {% endif %}

    </div>
</div>
{% endfor %}